body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

#fridge-item-container {
  overflow: scroll;
  max-height: 100%;
  padding: 0;
}

.pantryItem {
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
  padding: 20px 15px;
  max-width: 300px;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
}
.pantryItem .pantryBtn {
  text-decoration: underline;
  cursor: pointer;
}
.pantryItem #edit {
  color: rgb(0, 182, 0);
}
.pantryItem #delete {
  color: rgb(228, 0, 0);
}
.pantryItem .item-qty {
  background-color: rgb(145, 215, 231);
  border: 1px solid rgb(145, 215, 231);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

.flex {
  display: flex;
}

.account-toggler-icon {
  display: flex;
  height: 1.3em;
  font-size: 30px;
  align-items: center;
  color: #797979;
}

.btn-round {
  border: 4px solid #797979;
  border-radius: 50%;
}

#fridge-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
  padding: 10px 60px;
}
#fridge-form h1 {
  text-align: center;
  font-size: 1.7rem;
}
#fridge-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#fridge-form input {
  margin: 25px 0;
}
#fridge-form button {
  margin: 10px auto;
  padding: 5px 35px;
}

#fridge-divider {
  height: 3px;
  background-color: #000;
  border: none;
}

.swipe-container::-webkit-scrollbar {
  display: none;
}

.swipe-container {
  display: flex;
  overflow: auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.swipe-container .action {
  display: flex;
  align-items: center;
  min-width: 100%;
}
.swipe-container .right {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(31, 182, 39);
  border: 1px solid #fff;
  color: #fff;
}
.swipe-container .left {
  background-color: rgb(208, 7, 7);
  color: #fff;
}
.swipe-container i {
  position: sticky;
  left: 16px;
  right: 16px;
}

.swipe-element {
  scroll-snap-align: start;
  min-width: 100%;
  padding: 12px 0px;
  border-bottom: 1px solid #a7a7a7;
}
.swipe-element li {
  list-style: none;
}
.swipe-element input[type=number] {
  background-color: #f8f9fa;
  border: none;
}
.swipe-element input[type=number]:focus-visible {
  outline: none;
}
.swipe-element .fridge-qty {
  background-color: rgb(212, 232, 212);
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

input#ascdesc {
  opacity: 0;
}

.footer-button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  font-size: 1.2em;
}
.footer-button-container .footer-button {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}
.footer-button-container i {
  margin-right: 7px;
  color: #000 !important;
}
.footer-button-container p {
  margin: 0px;
  color: #000 !important;
}

.slider-group {
  margin: 20px 0 0 0;
}
.slider-group .header-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.slider-group h3 {
  margin-left: 10px;
}

/*# sourceMappingURL=main.css.map */
